<div class="container" style="background-image:url('../assets/images/header.png'); background-position: center; background-repeat: no-repeat; background-size: cover; height: 100%; width: 100%;">
  <div class="content" style="position: relative;
  top: 30%;
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);">
  <div style="text-align:center; color: white;">
      <h2>Halaman yang anda cari tidak ditemukan.</h2>
      <p>Kembali ke halaman utama <a href="/login">di sini</a></p>
      
  </div>
  </div>
</div>

